.header2{
    display: flex;
    align-items: center;
    background-color: #0f1c2e;
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: space-between;
}

.header2Location{
    color: white;

}

.nav_left{
    display: flex;
}

.nav_middle{
    display: flex;
    justify-content: space-between;
}

.header_right{
    display: flex;
    padding-right: 2rem;
}

.header_link1{
    padding-left: 10px;
    color: white;
    text-decoration: none;
}

.header_link1:hover{
    border: 1px solid white;
}