.home{
    max-width: 1500px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.home >img{
   
    background-attachment: fixed;
    
}

.home_image{
 width: 100%;
 /* height: 70vh; */
 mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
 z-index: -1;
 margin-bottom: -315px;
}

