.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 20px;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    /* background-color:rgba(167, 166, 182, 0.5); */
    background-color: #fff;
    z-index: 1;
    border: none;
    border-radius: 5px;

    
}

.product__image{
    width: 100%;
    height: 90%;
    /* max-height: 200px; */
    /* object-fit: contain; */
    margin-bottom: 30px;
}

.product__info{
    height: 100px;
    margin-bottom: 15px;
}

.product__info{
    font-size: 20px;
    padding-top: 15px;
    font-weight: 800;
}